<!DOCTYPE html>
<html>
<head>
<title>Complete The Square</title>
</head>
<body>
    {% extends "template.html" %}
    {% block content %}

    <h1>Play Complete The Square</h1>   

   

    <h3>A teeny weeny bit of information for you to play</h3>

    

    <form action="/" method="POST">
        <div class="form-group">
            <label>Player 1: </label>
            <input type="text" class="form-control" id="name1" name="name1" placeholder="Enter a name for player 1", required="True">
          </div>
          <div class="form-group">
            <label>Player 2: </label>
            <input type="text" class="form-control" id="name2" name="name2" placeholder="Enter a name for player 2", required="True">
          </div>
          <button type="submit" class="btn btn-primary">Play</button>
    </form>

    

    <h2>Rules:</h2>
    <p>Describe the rules here.</p>

    {% endblock %}
    
</body>
</html>